.food-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 60vh;
  margin-top: 2%;
  margin-bottom: 2%;
}

.frame-food {
  display: flex;
  justify-content: center;
  padding: 7px;
  border: 3px solid #4f4336;
  width: 55%;
  height: 100%;
}

.food-texts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5%;
}

.tommy-smoking-img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.food-text-title {
  color: #4f4336;
  font-family: "Old Standard TT", sans-serif;
  font-size: clamp(1.5rem, 3.1vw, 3rem);
  margin: 3% 0 0 0;
  font-weight: 700;
}

.food-text-description {
  color: #4f4336;
  font-family: "Old Standard TT", sans-serif;
  font-size: clamp(1.1rem, 1.5vw, 3rem);
  font-weight: 600;
  text-align: left;
}

.arthur-comig-img {
  margin-top: 3%;
  margin-bottom: 3%;

  height: auto;
  width: 75%;
}

@media (max-width: 600px) {
  .food-section-container {
    flex-direction: column;
  }
}
