body {
  background-color: #efecd8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page-divider {
  background-color: #5f4f23;
  height: 6px;
  border-radius: 15px;
  width: 85%;
  margin: 0 auto;
}

.page-container {
  scroll-margin-top: 80px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.1rem, 2vw, 3rem);
  margin-bottom: 2%;
}

.page-title {
  color: #4f4336;
  font-family: "Old Standard TT", sans-serif;
  font-size: clamp(1.5rem, 3.1vw, 3rem);
  margin: 3% 0 0 0;
  font-weight: 700;
}

.page-text {
  color: #4f4336;
  font-family: "Old Standard TT", sans-serif;
  font-size: clamp(1.1rem, 2vw, 3rem);
  font-weight: 600;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0;
}
