body {
  background-color: #efecd8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

 html {
    scroll-behavior: smooth;
  }

.page-divider {
    background-color: #5F4F23;
    height: 6px;
    border-radius: 15px;
    width: 85%;
    margin: 0 auto;
}