.social-media-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-media-title {
  color: #4f4336;
  font-family: "Old Standard TT", sans-serif;
  font-size: clamp(1rem, 2.5vw, 3rem);
  margin: 0;
  font-weight: 700;
}

.social-media-text {
  font-family: "Stardos Stencil", sans-serif;
  font-size: clamp(.6rem, 1vw, 2.2rem);
  color: #b02a22;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #00000033;
  margin: 0;
}

.social-media-text-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 3%;
}

.contact-social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;
  gap: 2rem;
  font-family: "Old Standard TT", sans-serif;
  font-size: 1.2rem;
  border-top: 6px solid #4f4336;
  border-bottom: 6px solid #4f4336;
  height: clamp(3rem, 5vw, 6rem);
  width: 85%;
}

.contact-social-wrapper span {
  color: #4f4336;
  text-transform: uppercase;
  
}

.vertical-divider {
  height: 100%;
  width: 6px;
  background-color: #4f4336;
  margin: 0 auto;
  flex-shrink: 0;
}

.social-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  flex: 1;
}

.social-text {
  color: #4f4336;
  font-family: "Old Standard TT", sans-serif;
  font-size: clamp(1rem, 2vw, 3rem);
  margin: 0;
  font-weight: 700;
  flex: 1;
  text-align: center;
}

.social-icons-container {
  display: flex;
  gap: 1rem;
  margin: 0;
}

.social-media-button {
  background: none;
  border: none;
  cursor: pointer;

  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.social-media-button:hover {
  transform: scale(1.1);

  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .contact-social-wrapper {
    flex-direction: column;
    height: auto;
    padding: .8rem 0;
    gap: 1rem;
  }

  .vertical-divider {
    display: none;
  }

  .social-box-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-text {
    display: none;

  }

  .contact-social-wrapper span {
    font-size: 1rem;
  }

  .social-box-container svg {
    width: 28px;
    height: 28px;
  }

}